
@{
    ViewBag.Title = "HowItWorks";
    Layout = "~/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $.noConflict();
    jQuery().ready(function () {
        jQuery('#tabHowItWorks').addClass('active');
    });
</script>
<div id="divHowItWorks" style=" padding-top:50px;padding-left:20px;">
   <h1> Need to sell your crop or livestock??</h1>

    It’s easy. Simply post your crop/livestock details so that buyers can see them and contact you.

   <h2>How Raiteraju.in works</h2> 
   <ul>
       <li>Farmers can post their crop or Livestock details that they want to sell.</li>
       <li>Any buyer who needs crop or livestock can view the ads posted by farmers and contact them.</li>
       <li>Only registered Farmer or Buyer can post or view Ads.</li>
       <li>This platform helps both the farmer and buyer to sell and buy the crop and livestock.</li>
   </ul>
</div>
@*<div>
    <h2>
       
    </h2>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>*@