
@{
    ViewBag.Title = "HowToRegister";
    Layout = "~/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $.noConflict();
    jQuery().ready(function () {
        jQuery('#tabHowToRegister').addClass('active');
    })
</script>
<div  id="DicHowToRegister">
    <h4>How To Register</h4> 
    <table style="width:100%">
        <tr><td><h5>Step1: Click on Login/Register link as shown in the below image.</h5> </td></tr>
        <tr><td align="center"><img src="~/Content/HelpImges/register1.png" style="height:450px;width:800px;border:1px solid black" /></td></tr>
        <tr><td><h5>Step2: Click on Register link as shown in the below image.</h5></td></tr>
        <tr><td align="center"><img src="~/Content/HelpImges/register2.png" style="height:450px;width:800px;border:1px solid black" /></td></tr>
        <tr><td><h5>Step3: Please Fill the details and click on Register as shown below.</h5></td></tr>
        <tr><td align="center"><img src="~/Content/HelpImges/register3.png" style="height:450px;width:800px;border:1px solid black" /></td></tr>
        <tr><td align="center"><img src="~/Content/HelpImges/register4.png" style="height:450px;width:800px;border:1px solid black" /></td></tr>
        <tr><td><h5>Step4: You will get OTP on registered mobile number and please enter OTP on this page and click on submit.</h5>  </td></tr>
        <tr><td align="center"><img src="~/Content/HelpImges/register5.png" style="height:450px;width:800px;border:1px solid black" /></td></tr>
        <tr><td><h5>Step5: You will be redirected to below page and now you can post your Ad.</h5></td></tr>
        <tr><td align="center"><img src="~/Content/HelpImges/register6.png" style="height:450px;width:800px;border:1px solid black" /></td></tr>
    </table>
</div>


