
@{
    ViewBag.Title = "HowToPost";
    Layout = "~/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $.noConflict();
    jQuery().ready(function () {
        jQuery('#tabHowToPostAd').addClass('active');
    });
</script>

<div id="divHowTopPostAd">
    <h4>How To Post</h4>
    <table>
        <tr><td><h5>Step1: After Log-in, Click on Submit Your Ad button as shown in below image.</h5> </td></tr>
        <tr><td align="center"><img src="~/Content/HelpImges/HowToPostAd.png" style="height:380px;width:800px;border:1px solid black" /></td></tr>
        <tr><td><h5>Step2: Select Category of your Crop or Livestock that you want to sell, Enter Description, Quantity, Price and Selling Unit of your Crop/Livestock. </h5></td></tr>
        <tr><td align="center"><img src="~/Content/HelpImges/HowToPostAd1.png" style="height:450px;width:800px;border:1px solid black" /></td></tr>
        <tr><td><h5>Step3: After Filling the details, Click on Submit button, Now your Ad will be displayed to users after verification.</h5></td></tr>
        <tr><td align="center"><img src="~/Content/HelpImges/HowToPostAd2.png" style="height:300px;width:800px;border:1px solid black" /></td></tr>
        <tr><td><h5>Step4: If you want you can edit and update your Ad. Even You can upload new image of your crop.</h5></td></tr>
        <tr><td align="center"><img src="~/Content/HelpImges/HowToPostAd3.png" style="height:450px;width:800px;border:1px solid black" /></td></tr>

    </table>
</div>

